<!DOCTYPE html>
<html>
<head>
    <title>Jeu de dés</title>
    <link rel="stylesheet" type="text/css" href="//stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>
<body>

<div class="container">

    <h1>JeuDeDés-Python-Flask-TDD-LOG210</h1>

    {% for message in get_flashed_messages() %}
        <div class="flash alert alert-success col-sm-4" role="success">{{ message }}</div>
    {% endfor %}

    <br>

    <form id="formNouveauJoueur" action="javascript:void(0);" class="form-group">
      <dl>
        <dt>Nom du nouveau joueur</dt>
        <dd><input type="text" name="nom" class="form-control col-sm-4"></dd>
      </dl>
        <button class="demarrer">Démarrer</button>
    </form>

    <br>

    <h3>Joueurs</h3>
    <ul class="entries">
        {% for joueur in joueurs %}
            <li class="joueur"><STRONG id="{{ joueur.nom }}">{{ joueur.nom }}</STRONG> tentatives:
                {{ joueur.nb_lancers }}, réussites: {{ joueur.nb_lancers_gagnes }}
                <button class="lancer" id="{{ joueur.nom }}">Lancer les dés</button>
                <button class="terminer" id="{{ joueur.nom }}">Terminer</button>
            </li>
        {% else %}
            <li><em>Pas de joueurs encore.</em></li>
        {% endfor %}
    </ul>

</div>

<script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="//stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>

</body>
</html>
